
th{
	padding: 7px;
	text-align:center; 
	color:black;
	font-size:13px;
}
td{
	padding: 7px;
	text-align:center;
}
.labels{
	font-weight: bold;
}
.button {
	background-color: Transparent;
	background-repeat:no-repeat;
	border: none;
	cursor:pointer;
	overflow: hidden;
	outline:none;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
	color: #555555;
	background-color: #EE3024;  
} 
.nav-pills > li.active > a:hover{
	color: white;
}
body {
	/*font-family: 'Open Sans', sans-serif;
	letter-spacing: 1px;*/
}
#success-message {
	font-size:14px;
	text-align:center;
	margin-top:3px;
}
#admindash-table {
	height:30px; 
	margin-top:8%;
}
#requestTable {
	background-color:#E5E4E2;
	margin-top:-5%;
	margin-left:3%;
	box-shadow: 10px 10px 5px #888888;
}
#view-all {
	background-color:#EE3024; 
	color:white;
	margin-top:-34%;
	padding:10px;
	width:90%;
	margin-left:-20%;
	box-shadow: 2px 5px 0px rgba(249,47,47,0.8), 2px 5px 15px rgba(0,0,0,.7);
}
#form-div {
	border-radius:3px;
	width:176px;
	margin-top:-15px;
	margin-left:21px; 
	height:50px;
	background-color:#EE3024;
}   
#form-div1 {
	padding: 8px 0px 8px 5px;
	display:inline;
	width:75%;
}
#arrow {
	color:white;
	font-size:16px;
	margin-bottom:-5px;
}
#button-div {
	position:relative;
	display:inline;
	width:10%;
	top:8px;
}
#pill-div {
	margin-top:3%;
	width:90%;
	padding:0px;
	background-color:grey;
	text-align:center;
	margin-left:10%;
}
.navbar {
	background-color: #EE3024;
}

#logo {
	margin-top:-9px;
	height: 40px;
}
#whiteFont {
	color:white;
}
#wrapper {
	color:black;
}

