.empPic img{
	width:100%;
	height:40%;
	-webkit-transition: all 0.5s ease;
}
.empPic img:hover{
	border-radius: 90%;
	opacity: 0.5;

}
.modal-dialog {
	border-radius: 20%;
}
.btn-file {
	position: relative;
	overflow: hidden;
}
.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}
body {
	/*font-family: 'Open Sans', sans-serif;
	letter-spacing: 1px;*/
}
.captionbox{
	position: relative; 
	width: 285px; 
	height: 175px;
	background-color: white;
}
#add-button {   
	background-color:#EE3024;
	color:white;
	margin-left:20%;
	box-shadow: 3px 5px 5px rgba(249,47,47,0.8), 3px 5px 5px rgba(0,0,0,.7);
}
#addBtn {
	margin-top:5%;
	margin-left:-9%;
}
#view_button {
	box-shadow: 3px 5px 5px rgba(249,47,47,0.8), 3px 5px 5px rgba(0,0,0,.7);
	background-color:#EE3024;
	margin-top:10%;
	color:white;
}
#backBtn {
	background-color:#e74c3c;
	color:#ecf0f1;
}
#no_employee {
	font-size:60px;
	color:silver;
	text-align:center;
	margin-top:12%;
}
#details {
	background-color:#e74c3c;
	color:#ecf0f1;
}
#captionbox {
	width:200px;
	height:45px;
	margin-left:26px;
	margin-top:-45px;
	text-align:center;
	font-size:14px;
	line-height: 12px;
	padding-top:3px;
}
#empic {
	padding:30px; 
	background-color:white;
}
/*#addEmp {
	background-color:#e74c3c;
	color:white;
	width:100px;
	text-align:center;
}*/
  