
th{
	padding: 7px;
	text-align:center;
}
td{
	padding: 7px;
	text-align:center;
} 
.labels, .details{
	font-weight: bold;
	text-align: left;
}
.blend {
	mix-blend-mode: exclusion;
}
.button {
	background-color: Transparent;
	background-repeat:no-repeat;
	border: none;
	cursor:pointer;
	overflow: hidden;
	outline:none;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
	color: white;
	background-color: #EE3024;  
} 
.nav-pills > li{
	width: 100%;
}
body {
	/*font-family: 'Quattrocento Sans', sans-serif;
	letter-spacing: 1px;*/
}
#requestTable {
	margin-top: 3%;
	margin-left: 0%;
}
#fitnessDiv {
	margin-top: 5%;
	position:relative;
	top:-40px;	

}
#wellnessInfo {
	background-color: #bdc3c7;
	border-radius: 10px;
}
#searchmonth {
	width: 50%;
}
#tabbing {
	width: 100%;
	margin-left: 1%;
}
#leaveinfo {
	width: 100%;
}   
#leavin {
	margin-top: 5%;
}
#wellnessInfo {
	margin-top: 15px;
	width: 100%;
	background-color: #ecf0f1;
	box-shadow: 3px 5px 5px rgb(184,184,184) , 3px 5px 5px rgb(200,200,200) ;
}
#labelz {
	color:#e74c3c;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.weight {
width:60px;background-color:transparent;border:0;border-bottom:solid 1px #000;outline:none;
}

#calendar {
	box-shadow: 3px 5px 5px rgb(184,184,184) , 3px 5px 5px rgb(200,200,200) ;
	padding: 5%;
	background-color: #E0E0E0;
	
}
#calenderId {
	margin-top: 5%;
	background-image: ('image/fitness.jpg');
	
}
#calDays {
	text-align:center;
}
#goalBtn {
	background-color: #e74c3c;
	color: white;
}
#goalHead {
	background-color: #e74c3c;
}
