th{
	padding: 7px;
	text-align:center;
}   
td{
	padding: 7px;
} 
.labels, .details{
	font-weight: bold;
	text-align: left;
}
.blend {
	mix-blend-mode: exclusion;
}
.button {
	background-color: Transparent;
	background-repeat:no-repeat;
	border: none;
	cursor:pointer;
	overflow: hidden;
	outline:none;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
	color: white;
	background-color: #e74c3c;  
} 
.nav-pills > li{
	width: 197px;
}
.empPic img{
	width:100%;
	height:40%;
	-webkit-transition: all 0.5s ease;
}
.empPic img:hover{
	border-radius: 90%;
	opacity: 0.5;
}	
body {
	/*font-family: 'Open Sans', sans-serif;
	letter-spacing: 0.05px;*/
}
