th{
	padding: 7px;
	text-align:center;
}
td{
	padding: 7px;
} 
.labels, .details{
	font-weight: bold;
	text-align: left;
}
.blend {
	mix-blend-mode: exclusion;
}
.button {
	background-color: Transparent;
	background-repeat:no-repeat;
	border: none;
	cursor:pointer;
	overflow: hidden;
	outline:none;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
	color: white;
	background-color: #e74c3c;  
} 
.nav-pills > li{
	width: 197px;
}
.empPic img{
	width:100%;
	height:20%;
	-webkit-transition: all 0.5s ease;
}
.empPic img:hover{
	border-radius: 0;
	opacity: 0.5;
}	
body {
	/*font-family: 'Open Sans', sans-serif;
	letter-spacing: 1.2px;*/
}
#editBtn {  
	margin-top: 5%;    
	margin-right:5%; 
	margin-left:-6%; 
	width:210px;
	background-color:#EE3024;
	text-align:center;
	height:50px;
	letter-spacing: 1px;
	box-shadow: 2px 5px 0px rgba(249,47,47,0.8), 2px 5px 15px rgba(0,0,0,.7);
}
#deleteBtn {
	margin-top: 5%; 
	width:210px;
	height:50px;
	background-color:#EE3024;
	color:white;
	text-align:center;
	box-shadow: 2px 5px 0px rgba(249,47,47,0.8), 2px 5px 15px rgba(0,0,0,.7);
}
#application {
	background-color:#EE3024;
	letter-spacing: 1px; 
	color:white;
	margin-top:0;
	margin-right:0;
	padding:10px;
	width:210px;
	height:50px;
	box-shadow: 2px 5px 0px rgba(249,47,47,0.8), 2px 5px 15px rgba(0,0,0,.7);
}
#profile {
	background-color:#F58F84;
	letter-spacing: 1px; 
	color:white;
	margin-top:0;
	margin-right:0;
	padding:10px;
	width:210px;
	height:50px;
	box-shadow: 2px 5px 0px rgba(249,47,47,0.8), 2px 5px 15px rgba(0,0,0,.7);
}
#wellness {
	background-color:#EE3024;
	letter-spacing: 1px; 
	color:white;
	margin-top:0;
	margin-right:0;
	padding:10px;
	width:210px;
	height:50px;
	box-shadow: 2px 5px 0px rgba(249,47,47,0.8), 2px 5px 15px rgba(0,0,0,.7);
}
#allEmployees {
	background-color:#EE3024; 
	color:white;
	padding:10px;
	width:210px;
	height:50px;
	box-shadow: 2px 5px 0px rgba(249,47,47,0.8), 2px 5px 15px rgba(0,0,0,.7);
}
#deleteBtn1 {
	color:#ecf0f1;
	letter-spacing: 1px;
}
