@font-face {
	font-family:"Adorable";
	src:url("font/MLSJN.eot?") format("eot"),
		url("font/MLSJN.woff") format("woff"),
		url("font/MLSJN.ttf") format("truetype"),
		url("font/MLSJN.svg#Adorable-") format("svg");
	font-weight:normal;
	font-style:normal;
}

.navbar {
	background-color: #EE3024;
}
.input-group{
	margin-top:2%;
}
#error-message{
	height:10px;
	font-size:12px; 
	color:white;
	margin-left:60px;
}
#id {
	width:30%;
	margin-left:60px;
	border-radius:5px;
	height:25px;
}
#password {
	width:30%;
	margin-left:8px;
	border-radius:5px;
	height:25px;
}
#label {
	margin-left:3px;
}
#logout {
	margin-left:3px; 
	font-size: 18px; 
	cursor:pointer;
	color:white;
}
#adminsubmit {   
	background-color:#EE3024;
	margin-top: -5px;
	margin-left:-8px;
	color:white;
}
.motto {
	margin-left:30%;
	margin-top:10%; 
	text-align:center;
}
#mission {
	text-align:center;
}
#tentenlogo {
	margin-top: 8%;
	width: 25%;
}
h1 {
	font-family: 'Adorable';
	color: #e74c3c;
	font-size: 40px;
}