
h1{
	text-align: left;
}
.row{
	margin-top: 6%;
	width: 90%; 
}
h4{
	text-align: left;
}
.box-shadow--2dp {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

#register{
	font-weight: bold;
}

body{

	height: 100%;
	width: 100%;
}
@media (min-height: 767px){
#footer{
		position: absolute;
		width: 100%; 
		bottom: 0;
		clear: both;
		text-align: center;
	}
}
@media (min-width: 499px){
#footer{
		position: fixed;
		width: 100%; 
		bottom: 0;
		clear: both;
		text-align: center;
	}
}


